/* здесь используйте глобальные переменные */

$basic-white: #ffffff;
$basic-grey: #f2f2f2;
$basic-text-color: #444444;
$basic-text-color-2: #222222;
$basic-black: #000000;
$accent-color: #68b738;
$live-example-color: #eaeaea;
$text-grey: #111111;

$primary-font: "Oswald", "Arial", sans-serif;
$secondary-font: "Lato", "Arial", sans-serif;

$tablet-width: 768px;
$desktop-width: 1440px;
