.additional-products__title {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.additional-products__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.additional-products__item-title {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.additional-products__item-measure,
 .additional-products__item-price {
  font-family: "Lato";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

.additional-products__item-button {
  background-color: #68b738;
  color: #ffffff;
  font-family: $primary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
