.additional-products-item__title {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.additional-products-item__measure,
 .additional-products-item__price {
  font-family: "Lato";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

.additional-products-item__button {
  background-color: #68b738;
  color: #ffffff;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
