.example__title {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.example__description {
  font-family: "Lato";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.example-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.example-list__measure {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.example-list__content {
  font-family: "Lato";
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}

.example-footer__content,
 .example-footer__measure {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.example-slider__toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 100%;
  background-image: url("../../icons/stack.svg#arrow-slider");
  background-repeat: no-repeat;
  background-position: center;
}

.example-slider {
  position: relative;
}
