.instructions__title {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.instructions__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.instructions__description {
  font-family: "Lato";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
