.programs__title {
  font-family: "Oswald";
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.programs__description {
  font-family: "Lato";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.programs__link {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
}
