.social__list {
  margin: 0;
  padding: 0;
  list-style: 0;
  text-decoration: none;
}

.social__link {
  text-decoration: none;
}

.social__link--vkontakte {
  background-image: url("../../icons/stack.svg#icon-vkontakte");
}

.social__link--youtube {
  background-image: url("../../icons/stack.svg#icon-youtube");
}

.social__link--telegram {
  background-image: url("../../icons/stack.svg#icon-telegram");
  background-color: #cccccc;
}
